# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# Environment
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log

# VSCode
.vscode/

# JetBrains
.idea/

# Azure
azure_credentials.json

# OS
.DS_Store
Thumbs.db

backend/finops_state.json
terraform.tfvars